<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="T.jpg" type="image/jpg" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <title>Text Analyzer App</title>
</head>

<body>
<!-- ########################################-----NAVBAR------######################################################### -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/static/T.jpg" width="65" height="35" class="d-inline-block align-top">
    </a>
  </nav>
  <a class="navbar-brand" href="#">TextUtils</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">About US</a>
            </li>
            </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
      </nav>




      <div class="container mt-5">

    <div class="container">
      <div class="jumbotron">
        <h1>ENTER YOUR TEXT BELOW:</h1>
    </div>
      <div class="container">  
        <form action="analyze" method="POST"> {% csrf_token %}
            <div>
                <textarea name="dj_text" cols="50" rows="3"></textarea>
            </div>

            <div class="custom-control custom-switch">
                <input name="remove_punc" type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Remove punctuations</label>
            </div>

            <div class="custom-control custom-switch">
                <input name="fullcaps" type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">Capitalize</label>
            </div>

            <div class="custom-control custom-switch">
                <input name="newlineremover" type="checkbox" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">Remove new lines</label>
            </div>

            <div class="custom-control custom-switch">
                <input name="charcounter" type="checkbox" class="custom-control-input" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch4">Count the characters</label>
            </div>

            <div style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary">Analyze</button>
            </div>
        </form>
      </div>
    </div>
    </div>
  </body>

    <div style="margin-bottom: 500px;"></div>

<script src="https://code.jquery.com/jquery-3.0.0.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>